body{
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
}

body > div{
  display: block;
  width: 100%;
  max-width: 600px;
}

#executionControl {
  height: 30vh;
}

#textIO{
  height: 65vh;
  background-color: darkgray;
  padding: 10px;
}

#config div{
  width: 100%;
  display: flex;
}

#config > form > div label{
  margin-left: 5%;
  margin-right: 5%;
}

.secondElement {
  flex-grow: 1;
}

.stdio_div{
  background-color: black;
  width: 100%;
  height: 30%;
}

.sameLineOptions{
  display: table;
  table-layout: fixed; 
}

.sameLineOptions > *{
  display: table-cell;
  text-align: center;
}